<section
  id="home"
  class="hero bg-customLightBlue bg-cover bg-center min-h-screen flex items-center justify-center pb-20 md:pb-10 lg:pb-0"
>
  <div
    class="flex flex-col md:flex-row items-center justify-between p-4 w-full h-full space-y-8 md:space-y-0"
  >
    <!-- Text  -->
    <div class="p-4 md:w-1/2 px-6 md:px-14 text-center md:text-left">
      <h1
        class="text-4xl md:text-6xl text-black font-bold leading-snug md:leading-tight"
      >
        Take The Worry Out Of Life With Insurance
        <strong class="text-customBtnColor">Protection</strong>
      </h1>
      <p class="mt-4 text-lg md:text-xl text-customGray">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat
        arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id
        nisl quis arcu nulla leo nulla cras justo consectetur adipiscing elit.
      </p>

      <!-- Button Group -->
      <div
        class="mt-6 flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0"
      >
        <app-custom-button icon="fas fa-chevron-right" label="Get Started">
        </app-custom-button>

        <app-custom-button
          icon="fas fa-paper-plane"
          label="Contact Us"
          backgroundColor="bg-white"
          textColor="text-customBtnColor"
        ></app-custom-button>
      </div>
    </div>

    <!-- Image  -->
    <div class="w-full md:w-1/2 flex mt-8 md:mt-0 flex-shrink-0 pb-10 md:pb-0">
      <img
        src="assets/pic1.png"
        alt="pic one"
        class="w-full h-auto object-contain mx-auto"
      />
    </div>
  </div>
</section>
