<section class="py-12 bg-customReviewBackground mt-16">
  <div
    class="container mx-auto px-6 text-center grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2 gap-8"
  >
    <div
      class="left grid grid-cols-2 gap-4 justify-center items-center md:col-span-1 lg:col-span-2 ml-14"
    >
      <div class="flex flex-col gap-4 items-end mr-5">
        <div
          class="team ml-14 mb-5 flex flex-col items-start text-left p-6 bg-white rounded-lg shadow-lg min-w-96 relative"
        >
          <div class="relative">
            <img
              src="/assets/team1.png"
              alt="Team Member"
              class="rounded-full w-32 h-32 mb-4"
            />

            <p
              class="text-2xl text-customBtnColor absolute bottom-6 right-1 transform"
            >
              <i class="fa-solid fa-quote-right"></i>
            </p>
          </div>

          <div class="flex space-x-1">
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
          </div>

          <div class="flex items-center gap-2 mt-4">
            <p class="text-customGray font-semibold text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis
              placerat arcu nibh sed. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
            </p>
          </div>

          <!-- Name and Position -->
          <h3 class="text-2xl font-bold text-black mt-4">Andrew Schimke</h3>
          <p class="text-customBtnColor font-semibold text-lg">Marketing Ex.</p>
        </div>

        <div
          class="team ml-28 py-10 flex flex-col items-start text-left p-6 bg-white rounded-lg shadow-lg min-w-80 relative"
        >
          <!-- Star icon and testimonial text -->
          <div class="flex space-x-1">
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
          </div>

          <div class="flex items-center gap-2 mt-4">
            <p class="text-customGray font-semibold text-lg">
              Average 4.6 from 1200+ reviews of our customers.
            </p>
          </div>
        </div>
      </div>

      <div class="andrew flex items-center">
        <div
          class="team mr-14 flex flex-col items-start text-left p-6 bg-white rounded-lg shadow-lg min-w-96 relative"
        >
          <div class="relative">
            <img
              src="/assets/team2.png"
              alt="Team Member"
              class="rounded-full w-32 h-32 mb-4"
            />

            <p
              class="text-2xl text-customBtnColor absolute bottom-6 right-1 transform"
            >
              <i class="fa-solid fa-quote-right"></i>
            </p>
          </div>

          <!-- Star icon -->
          <div class="flex space-x-1">
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
            <i class="fas fa-star text-yellow-400 text-xl"></i>
          </div>

          <div class="flex items-center gap-2 mt-4">
            <p class="text-customGray font-semibold text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis
              placerat arcu nibh sed. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
            </p>
          </div>

          <!-- Name and Position -->
          <h3 class="text-2xl font-bold text-black mt-4">Andrew Schimke</h3>
          <p class="text-customBtnColor font-semibold text-lg">Marketing Ex.</p>
        </div>
      </div>
    </div>

    <!-- Right Column  -->
    <div
      class="right flex flex-col gap-8 text-left mt-14 pl-8 text-customWhite lg:col-span-1"
    >
      <h6 class="text-xl font-semibold mb-4 text-customBackgroundColor">
        OUR REVIEW
      </h6>
      <h1 class="text-5xl font-bold mb-8">
        What they say about <br />
        us honest reviews
      </h1>
      <p class="text-customBackgroundColor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat
        arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus
      </p>

      <app-custom-button icon="fas fa-chevron-right" label="View More">
      </app-custom-button>
    </div>
  </div>
</section>
