<section class="py-12 bg-customBackgroundColor mt-16">
  <div
    class="container mx-auto px-6 text-center grid grid-cols-1 lg:grid-cols-2 gap-8"
  >
    <div class="flex flex-col gap-8 text-left mt-14 pl-8">
      <h6 class="text-xl font-bold text-customBtnColor mb-4">ABOUT INCEP</h6>
      <h1 class="text-5xl font-bold text-customGray mb-8">
        Life Insurance That Creates <br />
        Wealth For Everyone
      </h1>

      <!-- Cards  -->
      <div
        *ngFor="let card of cards"
        class="service-card flex flex-row p-8 mr-4 bg-white shadow-lg rounded-lg text-left hover:shadow-2xl transition-shadow duration-300"
      >
        <div
          class="bg-customIconBgColor w-40 h-24 flex items-center justify-center rounded-full mr-5"
        >
          <i [ngClass]="card.icon" class="text-customBtnColor text-3xl"></i>
        </div>
        <div>
          <h3 class="text-3xl font-bold text-black">{{ card.title }}</h3>
          <p class="mt-4 text-customGray text-lg">{{ card.description }}</p>
        </div>
      </div>
    </div>

    <!-- Images -->
    <div class="grid grid-cols-2 gap-4 justify-center items-center">
      <div class="flex flex-col gap-4">
        <img
          src="/assets/about1.png"
          alt="Image 1"
          class="w-full h-auto rounded-lg shadow-lg mx-auto"
        />
        <img
          src="/assets/about3.png"
          alt="Image 2"
          class="w-full h-auto rounded-lg shadow-lg mx-auto"
        />
      </div>
      <div class="flex items-center">
        <img
          src="/assets/about2.png"
          alt="Image 3"
          class="w-full h-auto rounded-lg shadow-lg mx-auto"
        />
      </div>
    </div>
  </div>
</section>
